project/project
target
*.log
.cache/
.history/
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea_modules/*
.idea/
.idea_modules/
.scala_dependencies
.worksheet
.settings/
.classpath
.project
.cache

# emacs temp file
*~
*.\#
*\#
*.el
# ensime files
.ensime_cache
.ensime